/* To hide the user.id on the create post page  */
#user-id {
    opacity: 0;
}

/* Body field for the create post page */
#cke_id_body {
    width: 100% !important;
}

/* Media queries for mobile devices */
@media screen and (min-width: 320px) and (max-width: 480px) {
    .footer {
        font-size: 11px;
    }

    #contact {
        font-size: 13px;
    }

    #update-profile {
        font-size: 13px;
    }

    #update-settings {
        font-size: 13px;
    }
}
