{% extends 'base.html' %}
{% block title %}Update Settings{% endblock %}
{% block content %}
<!-- Form to update settings -->
<h1>Update Settings</h1>
<br/>
<!-- Back button -->
<a href="{% url 'home' %}" class="btn btn-primary">Back</a>
<br/><br/>
{{ user.profile.bio }}
<br/><br/>
<div class="form-group" id="update-settings">
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <br/>
        <button class="btn btn-primary">Update</button>
    </form>
</div>
<br/><br/><br/>
{% endblock %}
