{% extends 'base.html' %}
{% block content %}
<!-- About section -->
<h1>About</h1>
<br/>
<p>
    If you're of a certain age group (my age group), you were a child in the 80s and a teenager in the 90s. It was a 
    great time to be alive - great movies, TV shows and cartoons, awesome music, funny fashion trends and true 
    heroes. Everything was fascinating, and the world ran on the dreams of both adults and children. There were 
    drugs and campaigns to keep us away from them, there was AIDS and campaigns to teach people how to protect 
    themselves from it, there was hunger in Africa and campaigns to help ending it, and there were yuppies… Well, I 
    never said it was perfect.
</p>
<p>
    It was also an era of unforgettable sports moments - and never more so than in the NBA (the National Basketball 
    Association), the professional basketball league in North America, the best professional basketball league in 
    the world and, let's be honest, the greatest show on Earth.
</p>
<p>
    We all remember the slogans “NBA Action: It's Fantastic” in the 80s and “I love This Game” in the 90s (this blog 
    was named after the latter as an attempt by its creator to pay homage to these great promotional phrases and 
    the memorable TV commercials that came with them).
</p>
<p>
    We also remember the NBA of the 80s and 90s being an explosion of abnormally long appendages, short shorts, 
    giant teeth, bad hairdos, moustaches and hairy armpits. I miss those armpits.
</p>
<p>
    But, most importantly, the NBA of the 80s and 90s was the golden era of basketball. From 1979, when Magic 
    Johnson and Larry Bird joined the league and the three-point shot was introduced and paved the way to the 
    modern game, to 1998, when Michael Jordan retired (for the second time) and the Bulls dynasty ended, some of 
    the best basketball moments, games, teams, players and coaches unfolded before our eyes, in a majestic display 
    of skill, strength, bravery, excitement, humor, grace and sheer humanity. The players of this era were idols of 
    millions but, unlike today's players, they were bigger than life. They were warriors. They were truly our heroes.
</p>
<p>
    This blog was created to celebrate 80s and 90s basketball, a time when life was simpler, the world was a better 
    place and kids like me would spend their days dreaming of dunking off an alley-oop in the Madison Square 
    Garden, making the buzzer-beater off an assist by Bird in the Boston Garden, helping Magic running Showtime in 
    the Forum or helping Jordan and Pippen win another playoff game in the United Center.
</p>
<p>
    May this blog be a nostalgic, but beautiful trip down memory lane and a celebration of the two most exciting 
    decades of basketball ever. And may basketball always be with you.
</p>
<br>
<h4>ACKNOWLEDGEMENTS</h4>
<br/>
<p>
    I would like to thank Bill Simmons, the best sportswriter and “sports guy” in the world and the author of 
    basketball's bible, “The Book of Basketball: The NBA According to The Sports Guy”, for writing this book in the 
    first place and for the written content taken from it and used by yours truly on every post of this blog. And I 
    would especially like to thank John Elder, the CEO of Codemy, the best coding teacher in the world and whose 
    work I greatly admire, for the absolutely brilliant video tutorial on how to create a blog with Python and 
    Django that he made available for free on YouTube (it can be found 
    <a href="https://www.youtube.com/watch?v=B40bteAMM_M&list=PLCC34OHNcOtr025c1kHSPrnP18YPB-NFi)" target="_blank" 
    aria-label="Create a Simple Blog With Python and Django (opens in a new tab)" rel="external">here</a>) and 
    whose code was substantially used on this blog.
</p>
<p>
    Without Bill and John, this blog might not exist.
</p>
<br/>
<!-- Back button -->
<a href="{% url 'home' %}" class="btn btn-primary">Back</a>
<br/><br/><br/><br/><br/>
{% endblock %}
