{% extends 'base.html' %}
{% block title %}Create New Category{% endblock %}
{% block content %}
<!-- Form to create new category -->
<!-- Authentication -->
{% if user.is_authenticated %}
    <h1>Create New Category</h1>
    <br/><br/>
    <div class="form-group">
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="btn btn-primary">Create</button>
        </form>
    </div>
    <!-- Back button -->
    <br/>
    <a href="{% url 'home' %}" class="btn btn-primary">Back</a>
    <br/><br/>
{% else %}
    <h1>Please log in to create new category</h1>
{% endif %}
{% endblock %}
