{% extends 'base.html' %}
{% load static %}
{% block title %}Create New Post{% endblock %}
{% block content %}

<!-- Form to create new post -->
<!-- Authentication -->
{% if user.is_authenticated %}
    <h1>Create New Post</h1>
    <p id="user-id">{{ user.id }}</p>
    <br/><br/>
    <div class="form-group">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.media }}
            {{ form.as_p }}
            <button class="btn btn-primary">Create</button>
        </form>
    </div>

{% else %}
    <h1>Please log in to create new post</h1>
{% endif %}

{% block postloadjs %}
    <script src="{% static 'js/script.js' %}"></script>
{% endblock %}
{% endblock %}
