{% extends 'base.html' %}
{% load static %}
{% block title %}{{ post.title_tag }}{% endblock %}
{% block content %}
<!-- Post details -->
<h1>{{ post.title }}</h1>
<small>By: 
    {{ post.author.first_name }} 
    {{ post.author.last_name }} - 
    {{ post.post_date }}
    <!-- Authentication -->
    {% if user.is_authenticated %}
        {% if user.id == post.author.id %}
            - <a href="{% url 'update_post' post.pk %}">(Update)</a>

            <a href="{% url 'delete_post' post.pk %}">(Delete)</a>
        {% endif %}
    {% endif %}
</small>
<br/><br/>
<!-- Back button -->
<a href="{% url 'home' %}" class="btn btn-primary">Back</a>
<br/>
<!-- Uploaded images on posts -->
{% if post.header_image %}
    <br/>
    <img src="{{ post.header_image.url }}" alt="Image">
{% endif %}
<br/><br/>
{{ post.body|safe }}
<br/>
<!-- Like and unlike a post -->
<form action="{% url 'like_post' post.pk %}" method="POST">
    {% csrf_token %}
<!-- Authentication -->
{% if user.is_authenticated %}
    {% if liked %}
        <button type="submit", name="post_id", value="{{ post.id }}", class="btn btn-danger btn-sm">Unlike</button>
    {% else %}
        <button type="submit", name="post_id", value="{{ post.id }}", class="btn btn-primary btn-sm">Like</button>
    {% endif %}
{% else %}
    <small><a href="{% url 'login' %}">Log in</a> to like this post</small>
{% endif %}
    - {{ total_likes }} Likes
</form>
<br/>
<!-- Author's profile -->
<div class="card mb-3">
    <div class="row no-gutters">
        <div class="col-md-2">
            {% if post.author.profile.profile_pic %}
                <img src="{{ post.author.profile.profile_pic.url }}" class="card-img" alt="Profile image">
            {% else %}
                <img src="{% static 'images/no-profile-photo-icon.png' %}" class="card-img" alt="No profile photo 
                icon">
            {% endif %}
        </div>
        <div class="col-md-10">
            <div class="card-body">
                <h5 class="card-title">
                {{ post.author.first_name }} 
                {{ post.author.last_name }}
                </h5>
                <p class="small text-muted">
                    {% if post.author.profile %}
                    <a href="{% url 'show_profile_page' post.author.id %}">Profile</a>
                    {% endif %}
                    {% if post.author.profile.website_url %}
                        | <a href="{{ post.author.profile.website_url }}">Website</a>
                    {% endif %}
                    {% if post.author.profile.youtube_url %} 
                        | <a href="{{ post.author.profile.youtube_url }}">YouTube</a>
                    {% endif %}
                    {% if post.author.profile.instagram_url %} 
                        | <a href="{{ post.author.profile.instagram_url }}">Instagram</a>
                    {% endif %}
                    {% if post.author.profile.twitter_url %}
                        | <a href="{{ post.author.profile.twitter_url }}">Twitter</a>
                    {% endif %}
                    {% if post.author.profile.facebook_url %}
                        | <a href="{{ post.author.profile.facebook_url }}">Facebook</a>
                    {% endif %}
                </p>
                <p class="card-text">
                    {{ post.author.profile.bio }}
                </p>
            </div>
        </div>
    </div>
</div>
<br/>
<!-- Comments -->
<h1>Comments</h1>
<br/>
{% if not post.comments.all %}
    {% if user.is_authenticated %}
        <a href="{% url 'add_comment' post.pk %}">Be the first to comment on this post</a>
        <br/><br/><br/><br/><br/>
    {% endif %}
{% else %}
    {% if user.is_authenticated %}
        <a href="{% url 'add_comment' post.pk %}">Create Comment</a>
        <br/><br/><br/><br/><br/>
    {% endif %}
    {% for comment in post.comments.all %}
        <strong>
            {{ comment.author.username }} - {{ comment.date_added }}
        </strong>
        <br/>
        {{ comment.body }}
        <br/><br/><br/><br/><br/>
    {% endfor %}
    {% if user.is_authenticated %}
        <a href="{% url 'add_comment' post.pk %}">Create Comment</a>
        <br/><br/><br/><br/><br/>
    {% endif %}
{% endif %}
<br/><br/><br/><br/><br/>
{% endblock %}
