{% extends 'base.html' %}
{% block content %}
<!-- Category functionality -->
{% if category_posts %}
    <h1>{{ cats }}</h1>
    <br/><br/>
    <ul>
        <!-- To loop through every post linked to a category on the list of 
            categories in the database and print them on the Categories page -->
        {% for post in category_posts %}
        <li><a href="{% url 'article-detail' post.pk %}">{{ post.title }}</a>
            - {{ post.author.first_name }}
            {{ post.author.last_name }} - 
            {{ post.post_date }}
            <small>
            <!-- Authentication -->
            {% if user.is_authenticated %}
                {% if user.id == post.author.id %}
                    - <a href="{% url 'update_post' post.pk %}">(Update)</a>
                
                    <a href="{% url 'delete_post' post.pk %}">(Delete)</a>
                {% endif %}
            {% endif %}
            </small><br/><br/><br/>
            {{ post.body|slice:":300" }}
            <br/><br/><br/>
        </li>
        {% endfor %}
    </ul>
    <!-- Back button -->
    <a href="{% url 'home' %}" class="btn btn-primary">Back</a>
    <br/><br/><br/><br/><br/><br/>
{% else %}
    <h2>Sorry, no articles for this category yet</h2>
    <br/>
    <!-- Back button -->
    <a href="{% url 'home' %}" class="btn btn-primary">Back</a>
    <br/><br/>
{% endif %}
{% endblock %}
