{% extends 'base.html' %}
{% block title %}Update Article{% endblock %}
{% block content %}
<!-- Form to update post -->
<!-- Authentication -->
{% if user.is_authenticated %}
    {% if user.id == post.author.id %}
        <h1>Update Article</h1>
        <br/>
        <!-- Back button -->
        <a href="{% url 'home' %}" class="btn btn-primary">Back</a>
        <br/><br/><br/>
        <div class="form-group">
            <form method="POST">
                {% csrf_token %}
                {{ form.media }}
                {{ form.as_p }}
                <button class="btn btn-primary">Update</button>
            </form>
        </div>
        <br/><br/><br/>
    {% else %}
        <h1>Only the author of this article can update it</h1>
        <br/>
        <!-- Back button -->
        <a href="{% url 'home' %}" class="btn btn-primary">Back</a>
        <br/>
    {% endif %}
{% else %}
    <h1>Please log in to update article</h1>
{% endif %}
{% endblock %}
